<div class="container d-flex flex-wrap justify-content-around">
  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=1">
      <div class="card-body">
        <h4 class="text-center">第一週作業 正音練習</h4>
      </div>
    </div>
  </a>
  
  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=2">
      <div class="card-body">
        <h4 class="text-center">第二週作業 高音練習</h4>
      </div>
    </div>
  </a>
    
  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=3">
      <div class="card-body">
        <h4 class="text-center">第三週作業 低音練習</h4>
      </div>
    </div>
  </a>
  
  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=4">
      <div class="card-body">
        <h4 class="text-center">第四週作業 曲折調練習</h4>
      </div>
    </div>
  </a>

  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=4">
      <div class="card-body">
        <h4 class="text-center">第四週作業 曲折調練習</h4>
      </div>
    </div>
  </a>

  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
    <img src="https://picsum.photos/300/250/?random=5">
    <div class="card-body">
      <h4 class="text-center">第五週作業 膛音練習</h4>
    </div>
  </div>
  </a>
  
  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=6">
      <div class="card-body">
        <h4 class="text-center">第六週作業 噴口音練習</h4>
      </div>
    </div>
  </a>

  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=6">
      <div class="card-body">
        <h4 class="text-center">第六週作業 噴口音練習</h4>
      </div>
    </div>
  </a>
  
  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=7">
      <div class="card-body">
        <h4 class="text-center">第七週作業 全音練習</h4>
      </div>
    </div>
  </a>
  
  <a href="/uploadfile">
    <div class="card my-3" style="width: 18rem;">
      <img src="https://picsum.photos/300/250/?random=8">
      <div class="card-body">
        <h4 class="text-center">第八週作業 綜合練習</h4>
      </div>
    </div>
  </a>
</div>