<div class="row w-100 p-0 m-0">
  <section class="sidebar-section col-12 col-md-3 bg-white">
    <div class="sidebar-img text-center w-100 p-1">
      <img class="d-block m-auto" src="https://picsum.photos/180/180/?random=1">
      <span class="d-block mt-2">管理員，您好</span>
    </div>
    <hr />
    <a href="">
      <div class="manage-classes text-center p-2">
        <span class="font-weight-bold">管理所有班級</span>
      </div>
    </a>
    <a href="">
      <div class="manage-classes text-center p-2">
        <span class="font-weight-bold">管理使用者權限</span>
      </div>
    </a>
    <a href="">
      <div class="manage-classes text-center p-2">
        <span class="font-weight-bold">瀏覽所有學員音檔</span>
      </div>
    </a>
    <a href="">
      <div class="manage-classes text-center p-2">
        <span class="font-weight-bold">點評音檔作業</span>
      </div>
    </a>
  </section>

  <section class="class-section col-12 col-md-9">
    <div class="class-container">
      <h3 class="text-center">建立新的班級</h3>
      <form action="/admin/classes" method="POST">
        <div class="class">
          <div class="image-container">
            <img class="d-block m-auto p-3" src="https://picsum.photos/200/150/?random=1">
          </div>
          <div class="class-container d-flex flex-column bg-white mx-auto rounded-5 p-3">
            <div class="class-image mb-2">
              <label for="class-image" class="font-weight-bold w-100">上傳圖片</label>
              <input class="w-100" type="file" id="class-image">
            </div>
            <div class="class-name mb-2">
              <label for="class-name" class="font-weight-bold">班級名稱</label>
              <input type="text" class="w-100" id="class-name">
            </div>
            <div class="class-status mb-2">
              <span class="font-weight-bold">班級狀態</span>
              <input class="status" type="radio" name="class-status" id="class-status">
              <label class="form-check-label" for="class-status">
                公開
              </label>
              <input class="status" type="radio" name="class-status" id="class-status">
              <label class="form-check-label" for="class-status">
                不公開
              </label> 
            </div>
            <div class="submit-button mb-2">
              <button type="submit" class="btn btn-primary w-100">新增</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
