<section class="class-section col-12 col-md-9">
  <div class="class-container">
    <h3 class="text-center">{{class.name}}</h3>
      <div class="class bg-white">
        <div class="image-container">
          <img class="d-block m-auto p-3 w-50" src="https://drive.google.com/uc?export=view&id={{class.image}}">
        </div>
        
        <div class="class-container d-flex flex-column bg-white mx-auto rounded-5 p-3">
          <form action="/admin/classes/{{class.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="class-image mb-2">
              <label for="class-image" class="font-weight-bold w-100">上傳圖片</label>
            <input class="w-100" type="file" id="class-image" id="class-image" name="imageFile">
            </div>
            <div class="class-name mb-2">
              <label for="class-name" class="font-weight-bold">班級名稱</label>
              <input type="text" class="w-100" id="className" name="name" value="{{class.name}}">
            </div>
            <div class="class-status mb-2">
              <span class="font-weight-bold">班級狀態</span>
              <input class="status" type="radio" name="isPublic" id="public" value="true" {{#if class.isPublic}}checked{{/if}}>
              <label class="form-check-label" for="class-status" >
                公開
              </label>
              <input class="status" type="radio" name="isPublic" id="private" value="false" {{#unless class.isPublic}}checked{{/unless}}>
              <label class="form-check-label" for="class-status">
                不公開
              </label> 
              <div class="submit-button mb-2">
                <button type="submit" class="btn btn-primary w-100">修改資料</button>
              </div>
            </div>
          </form>
        
        </div>
        <hr>
        {{#if homeworkfds}}
        <div class="row w-100 m-0 p-0">         
          <h4 class="col-12 text-center bg-white m-0 p-3">新增每周作業</h3>
          <div class="homework-image-container col-12 col-md-4 bg-white">
            <img class="d-block m-auto p-3 w-100" src="https://picsum.photos/200/150/?random=1">
          </div>

          <div class="homework-container col-12 col-md-8 bg-white">
            <div class="homework-name mb-2">
              <label for="homework-name" class="font-weight-bold text-left">作業名稱</label>
              <input type="text" class="w-100" id="homework-name">
            </div>
            <div class="homework-image mb-2">
              <label for="homework-image" class="font-weight-bold w-100 text-left">上傳圖片</label>
              <input class="w-100" type="file" id="homework-image">
            </div>
            <div class="class-status mb-2">
              <label for="homework-description" class="d-block font-weight-bold">作業描述</label>
              <textarea id="homework-description" class="w-100" name="homework-description" rows="5" cols="20">
              </textarea>
            </div>
            <div class="submit-button mb-2">
              <button type="submit" class="btn btn-primary w-100">新增</button>
            </div>
          </div>
          
          <hr />
        </div>
        <hr />
        
        <div class="row w-100 m-0 p-0">
          <h4 class="col-12 text-center bg-white m-0 p-3">已有的每周作業</h3>      
          <div class="homework-image-container col-12 col-md-4 bg-white">
            <h6 class="text-center p-2">第一週 用本嗓錄自我介紹</h5>
            <img class="d-block m-auto p-3 w-100" src="https://picsum.photos/200/150/?random=1">
          </div>

          <div class="homework-container col-12 col-md-8 bg-white">
            <div class="homework-name mb-2">
              <label for="homework-name" class="font-weight-bold text-left">作業名稱</label>
              <input type="text" class="w-100" id="homework-name">
            </div>
            <div class="homework-image mb-2">
              <label for="homework-image" class="font-weight-bold w-100 text-left">上傳圖片</label>
              <input class="w-100" type="file" id="homework-image">
            </div>
            <div class="class-status mb-2">
              <label for="homework-description" class="d-block font-weight-bold">作業描述</label>
              <textarea id="homework-description" class="w-100" name="homework-description" rows="5" cols="20">
              </textarea>
            </div>
            <div class="submit-button d-flex justify-content-center mb-2">
              <button type="submit" class="btn btn-primary w-100 m-2">修改</button>
            </div>
          </div>

          <div class="homework-image-container col-12 col-md-4 bg-white">
            <h6 class="text-center m-2">第一週 用本嗓錄自我介紹</h5>
            <img class="d-block m-auto p-3 w-100" src="https://picsum.photos/200/150/?random=1">
          </div>

          <div class="homework-container col-12 col-md-8 bg-white">
            <div class="homework-name mb-2">
              <label for="homework-name" class="font-weight-bold text-left">作業名稱</label>
              <input type="text" class="w-100" id="homework-name">
            </div>
            <div class="homework-image mb-2">
              <label for="homework-image" class="font-weight-bold w-100 text-left">上傳圖片</label>
              <input class="w-100" type="file" id="homework-image">
            </div>
            <div class="class-status mb-2">
              <label for="homework-description" class="d-block font-weight-bold">作業描述</label>
              <textarea id="homework-description" class="w-100" name="homework-description" rows="5" cols="20">
              </textarea>
            </div>
            <div class="submit-button d-flex justify-content-center mb-2">
              <button type="submit" class="btn btn-primary w-100 m-2">修改</button>
            </div>
          </div>

          <hr />
        </div>
        {{/if}}
      </div>
    
  </div>
</section>
