{{#if success_messages}}
<div class="alert alert-success m-2" role="alert">
  {{success_messages}}
</div>
{{/if}}

{{#if error_messages}}
<div class="alert alert-danger m-2" role="alert">
  {{error_messages}}
</div>
{{/if}}