 {{>message}}
<div class="container d-flex flex-wrap justify-content-around">
  {{#each classes}}
  <a href="/classes/{{this.id}}">
    <div class="card my-3" style="width: 18rem;">
      {{#if this.image}}
      <img src="{{this.image}}" class="w-100">
      {{else}}
      <img class="d-block w-100 p-3" src="/image/logo.jpg">
      {{/if}}
      <div class="card-body p-0">
        <h4 class="text-center">{{{this.name}}}</h4>
      </div>
    </div>
  </a>
  {{/each}}
  {{#unless classes}}
  <div class="alert alert-info my-2" role="alert">
    現在尚無任何班級!
  </div>
  {{/unless}}
</div>