<div class="form-container rounded mt-5">
  <div class="bg-white col-12 col-md-7 p-3 m-auto border shadow rounded">
    <form class="form-signin" action="/resetPassword" method="POST" style="width: 100%;">
      {{>message}}
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">重設密碼</h1>
      </div>
      <div class="form-label-group mb-3 d-none">
        <label for="inputEmail">Email</label>
        <input type="text" name="email" class="form-control" placeholder="email" value="{{user.email}}" required>
      </div>
      <div class="form-label-group mb-3 d-none">
        <label for="inputToken">toekn</label>
        <input type="password" name="token" class="form-control" placeholder="token" value="{{token}}" required>
      </div>
      <div class="form-label-group mb-3">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="form-label-group">
        <label for="inputPasswordCheck">Password Check</label>
        <input type="password" name="passwordCheck" class="form-control" placeholder="Password Check" required>
      </div>
      <br />
      <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">送出</button>
    </form>
  </div>
</div>